USE [master]
GO
/****** Nesnesi: Database [GiyimMagazasiERP] Betik Tarihi: 22.05.2026 08:47:44 ******/
CREATE DATABASE [GiyimMagazasiERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GiyimMagazasiERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GiyimMagazasiERP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GiyimMagazasiERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GiyimMagazasiERP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GiyimMagazasiERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GiyimMagazasiERP]
GO
/****** Nesnesi: Table [dbo].[FinansHareketleri] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinansHareketleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SatisId] [int] NULL,
	[KullaniciId] [int] NOT NULL,
	[HareketTipi] [nvarchar](20) NOT NULL,
	[Kategori] [nvarchar](100) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
 CONSTRAINT [PK_FinansHareketleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kategoriler] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kullanicilar] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](30) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Musteriler] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[SadakatPuani] [int] NOT NULL,
	[IndirimOrani] [decimal](5, 2) NOT NULL,
	[ToplamHarcama] [decimal](18, 2) NOT NULL,
	[KayitTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Personeller] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Pozisyon] [nvarchar](50) NOT NULL,
	[Maas] [decimal](18, 2) NOT NULL,
	[PrimOrani] [decimal](5, 2) NOT NULL,
	[GirisSaati] [time](7) NULL,
	[CikisSaati] [time](7) NULL,
	[MesaiSaati] [decimal](5, 2) NOT NULL,
	[IzinGunu] [int] NOT NULL,
	[Departman] [nvarchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[IseBaslamaTarihi] [date] NOT NULL,
 CONSTRAINT [PK_Personeller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SatisDetaylari] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisDetaylari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SatisId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SatisDetaylari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Satislar] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NULL,
	[PersonelId] [int] NOT NULL,
	[SatisTarihi] [datetime2](7) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[IndirimTutari] [decimal](18, 2) NOT NULL,
	[NetTutar] [decimal](18, 2) NOT NULL,
	[OdemeTipi] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Satislar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[StokHareketleri] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[HareketTipi] [nvarchar](30) NOT NULL,
	[Miktar] [int] NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
 CONSTRAINT [PK_StokHareketleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Tedarikciler] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikciler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAdi] [nvarchar](150) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](250) NULL,
	[IndirimOrani] [decimal](5, 2) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Tedarikciler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Urunler] Betik Tarihi: 22.05.2026 08:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](150) NOT NULL,
	[Barkod] [nvarchar](50) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[TedarikciId] [int] NOT NULL,
	[Beden] [nvarchar](20) NOT NULL,
	[Renk] [nvarchar](50) NOT NULL,
	[AlisFiyati] [decimal](18, 2) NOT NULL,
	[SatisFiyati] [decimal](18, 2) NOT NULL,
	[StokMiktari] [int] NOT NULL,
	[MinimumStok] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FinansHareketleri] ON 

INSERT [dbo].[FinansHareketleri] ([Id], [SatisId], [KullaniciId], [HareketTipi], [Kategori], [Tutar], [Tarih], [Aciklama]) VALUES (1, NULL, 1, N'Gelir', N'Baslangic Sermayesi', CAST(150000.00 AS Decimal(18, 2)), CAST(N'2026-05-01T09:00:00.0000000' AS DateTime2), N'Isletme acilis sermayesi')
INSERT [dbo].[FinansHareketleri] ([Id], [SatisId], [KullaniciId], [HareketTipi], [Kategori], [Tutar], [Tarih], [Aciklama]) VALUES (2, 1, 3, N'Gelir', N'Satis Geliri', CAST(854.81 AS Decimal(18, 2)), CAST(N'2026-05-20T14:15:00.0000000' AS DateTime2), N'Satis No: 1 geliri')
INSERT [dbo].[FinansHareketleri] ([Id], [SatisId], [KullaniciId], [HareketTipi], [Kategori], [Tutar], [Tarih], [Aciklama]) VALUES (3, 2, 3, N'Gelir', N'Satis Geliri', CAST(629.91 AS Decimal(18, 2)), CAST(N'2026-05-20T17:40:00.0000000' AS DateTime2), N'Satis No: 2 geliri')
SET IDENTITY_INSERT [dbo].[FinansHareketleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi], [Aciklama]) VALUES (1, N'Bay Giyim', N'Erkek ust ve alt giyim urunleri')
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi], [Aciklama]) VALUES (2, N'Bayan Giyim', N'Kadin giyim urunleri')
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi], [Aciklama]) VALUES (3, N'Cocuk Giyim', N'Cocuk giyim urunleri')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Email], [SifreHash], [Rol], [AktifMi], [OlusturmaTarihi]) VALUES (1, N'admin', N'admin@giyim.com', N'ORNEK_HASH_ADMIN', N'Admin', 1, CAST(N'2026-05-21T16:32:37.5505626' AS DateTime2))
INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Email], [SifreHash], [Rol], [AktifMi], [OlusturmaTarihi]) VALUES (2, N'yonetici', N'yonetici@giyim.com', N'ORNEK_HASH_YONETICI', N'Yonetici', 1, CAST(N'2026-05-21T16:32:37.5505626' AS DateTime2))
INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Email], [SifreHash], [Rol], [AktifMi], [OlusturmaTarihi]) VALUES (3, N'kasa1', N'kasa1@giyim.com', N'ORNEK_HASH_KASA1', N'Kasiyer', 1, CAST(N'2026-05-21T16:32:37.5505626' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([Id], [AdSoyad], [Telefon], [Email], [SadakatPuani], [IndirimOrani], [ToplamHarcama], [KayitTarihi]) VALUES (1, N'Zeynep Yildiz', N'05551112233', N'zeynep@example.com', 120, CAST(5.00 AS Decimal(5, 2)), CAST(8500.00 AS Decimal(18, 2)), CAST(N'2026-05-21T16:32:37.5749352' AS DateTime2))
INSERT [dbo].[Musteriler] ([Id], [AdSoyad], [Telefon], [Email], [SadakatPuani], [IndirimOrani], [ToplamHarcama], [KayitTarihi]) VALUES (3, N'Cemre Tas', N'05553334455', N'cemre@example.com', 287, CAST(10.00 AS Decimal(5, 2)), CAST(21373.96 AS Decimal(18, 2)), CAST(N'2026-05-21T16:32:37.5749352' AS DateTime2))
INSERT [dbo].[Musteriler] ([Id], [AdSoyad], [Telefon], [Email], [SadakatPuani], [IndirimOrani], [ToplamHarcama], [KayitTarihi]) VALUES (4, N'fatma koyuncu', N'5445454', N'fatma@gmail.com', 131, CAST(65.00 AS Decimal(5, 2)), CAST(5265.19 AS Decimal(18, 2)), CAST(N'2026-05-22T03:55:17.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Personeller] ON 

INSERT [dbo].[Personeller] ([Id], [AdSoyad], [Telefon], [Email], [Pozisyon], [Maas], [PrimOrani], [GirisSaati], [CikisSaati], [MesaiSaati], [IzinGunu], [Departman], [AktifMi], [IseBaslamaTarihi]) VALUES (1, N'Ayse Demir', N'05550000001', N'ayse.demir@giyim.com', N'Magaza Muduru', CAST(42000.00 AS Decimal(18, 2)), CAST(2.50 AS Decimal(5, 2)), CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(0.00 AS Decimal(5, 2)), 14, N'Yonetim', 1, CAST(N'2024-09-01' AS Date))
INSERT [dbo].[Personeller] ([Id], [AdSoyad], [Telefon], [Email], [Pozisyon], [Maas], [PrimOrani], [GirisSaati], [CikisSaati], [MesaiSaati], [IzinGunu], [Departman], [AktifMi], [IseBaslamaTarihi]) VALUES (2, N'Mehmet Kaya', N'05550000002', N'mehmet.kaya@giyim.com', N'Satis Danismani', CAST(28000.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(5, 2)), CAST(N'10:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(4.00 AS Decimal(5, 2)), 10, N'Satis', 1, CAST(N'2025-02-15' AS Date))
INSERT [dbo].[Personeller] ([Id], [AdSoyad], [Telefon], [Email], [Pozisyon], [Maas], [PrimOrani], [GirisSaati], [CikisSaati], [MesaiSaati], [IzinGunu], [Departman], [AktifMi], [IseBaslamaTarihi]) VALUES (3, N'Elif Acar', N'05550000003', N'elif.acar@giyim.com', N'Kasiyer', CAST(30000.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(5, 2)), CAST(N'09:30:00' AS Time), CAST(N'18:30:00' AS Time), CAST(2.00 AS Decimal(5, 2)), 12, N'Kasa', 1, CAST(N'2025-06-10' AS Date))
SET IDENTITY_INSERT [dbo].[Personeller] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisDetaylari] ON 

INSERT [dbo].[SatisDetaylari] ([Id], [SatisId], [UrunId], [Adet], [BirimFiyat], [ToplamTutar]) VALUES (1, 1, 1, 1, CAST(349.90 AS Decimal(18, 2)), CAST(349.90 AS Decimal(18, 2)))
INSERT [dbo].[SatisDetaylari] ([Id], [SatisId], [UrunId], [Adet], [BirimFiyat], [ToplamTutar]) VALUES (2, 1, 2, 1, CAST(549.90 AS Decimal(18, 2)), CAST(549.90 AS Decimal(18, 2)))
INSERT [dbo].[SatisDetaylari] ([Id], [SatisId], [UrunId], [Adet], [BirimFiyat], [ToplamTutar]) VALUES (3, 2, 4, 1, CAST(699.90 AS Decimal(18, 2)), CAST(699.90 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SatisDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[Satislar] ON 

INSERT [dbo].[Satislar] ([Id], [MusteriId], [PersonelId], [SatisTarihi], [ToplamTutar], [IndirimTutari], [NetTutar], [OdemeTipi]) VALUES (1, 1, 2, CAST(N'2026-05-20T14:15:00.0000000' AS DateTime2), CAST(899.80 AS Decimal(18, 2)), CAST(44.99 AS Decimal(18, 2)), CAST(854.81 AS Decimal(18, 2)), N'KrediKarti')
INSERT [dbo].[Satislar] ([Id], [MusteriId], [PersonelId], [SatisTarihi], [ToplamTutar], [IndirimTutari], [NetTutar], [OdemeTipi]) VALUES (2, 3, 3, CAST(N'2026-05-20T17:40:00.0000000' AS DateTime2), CAST(699.90 AS Decimal(18, 2)), CAST(69.99 AS Decimal(18, 2)), CAST(629.91 AS Decimal(18, 2)), N'Nakit')
INSERT [dbo].[Satislar] ([Id], [MusteriId], [PersonelId], [SatisTarihi], [ToplamTutar], [IndirimTutari], [NetTutar], [OdemeTipi]) VALUES (3, NULL, 2, CAST(N'2026-05-21T11:10:00.0000000' AS DateTime2), CAST(429.90 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(429.90 AS Decimal(18, 2)), N'BankaKarti')
SET IDENTITY_INSERT [dbo].[Satislar] OFF
GO
SET IDENTITY_INSERT [dbo].[StokHareketleri] ON 

INSERT [dbo].[StokHareketleri] ([Id], [UrunId], [HareketTipi], [Miktar], [Tarih], [Aciklama]) VALUES (1, 1, N'Giris', 30, CAST(N'2026-05-18T10:00:00.0000000' AS DateTime2), N'Ilk urun girisi')
INSERT [dbo].[StokHareketleri] ([Id], [UrunId], [HareketTipi], [Miktar], [Tarih], [Aciklama]) VALUES (2, 2, N'Giris', 20, CAST(N'2026-05-18T10:05:00.0000000' AS DateTime2), N'Ilk urun girisi')
INSERT [dbo].[StokHareketleri] ([Id], [UrunId], [HareketTipi], [Miktar], [Tarih], [Aciklama]) VALUES (3, 3, N'Giris', 13, CAST(N'2026-05-18T10:10:00.0000000' AS DateTime2), N'Ilk urun girisi')
SET IDENTITY_INSERT [dbo].[StokHareketleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Tedarikciler] ON 

INSERT [dbo].[Tedarikciler] ([Id], [FirmaAdi], [Telefon], [Email], [Adres], [IndirimOrani], [AktifMi]) VALUES (1, N'ModaTekstil A.S.', N'02120000001', N'info@modatekstil.com', N'Istanbul', CAST(7.50 AS Decimal(5, 2)), 1)
INSERT [dbo].[Tedarikciler] ([Id], [FirmaAdi], [Telefon], [Email], [Adres], [IndirimOrani], [AktifMi]) VALUES (2, N'Renkli Giyim Ltd.', N'03120000002', N'satis@renkligiyim.com', N'Ankara', CAST(5.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[Tedarikciler] ([Id], [FirmaAdi], [Telefon], [Email], [Adres], [IndirimOrani], [AktifMi]) VALUES (3, N'Minik Stil Ticaret', N'02320000003', N'info@minikstil.com', N'Izmir', CAST(4.00 AS Decimal(5, 2)), 1)
SET IDENTITY_INSERT [dbo].[Tedarikciler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([Id], [UrunAdi], [Barkod], [KategoriId], [TedarikciId], [Beden], [Renk], [AlisFiyati], [SatisFiyati], [StokMiktari], [MinimumStok], [AktifMi], [OlusturmaTarihi]) VALUES (1, N'Bay Basic Tisort', N'8690000000011', 1, 1, N'M', N'Siyah', CAST(180.00 AS Decimal(18, 2)), CAST(349.90 AS Decimal(18, 2)), 20, 5, 1, CAST(N'2026-05-21T16:32:37.6027312' AS DateTime2))
INSERT [dbo].[Urunler] ([Id], [UrunAdi], [Barkod], [KategoriId], [TedarikciId], [Beden], [Renk], [AlisFiyati], [SatisFiyati], [StokMiktari], [MinimumStok], [AktifMi], [OlusturmaTarihi]) VALUES (2, N'Bayan Gomlek', N'8690000000028', 2, 2, N'S', N'Beyaz', CAST(260.00 AS Decimal(18, 2)), CAST(549.90 AS Decimal(18, 2)), 13, 4, 1, CAST(N'2026-05-21T16:32:37.6027312' AS DateTime2))
INSERT [dbo].[Urunler] ([Id], [UrunAdi], [Barkod], [KategoriId], [TedarikciId], [Beden], [Renk], [AlisFiyati], [SatisFiyati], [StokMiktari], [MinimumStok], [AktifMi], [OlusturmaTarihi]) VALUES (3, N'Cocuk Sweatshirt', N'8690000000035', 3, 3, N'8Y', N'Mavi', CAST(210.00 AS Decimal(18, 2)), CAST(429.90 AS Decimal(18, 2)), 10, 3, 1, CAST(N'2026-05-21T16:32:37.6027312' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
/****** Nesnesi: Index [IX_FinansHareketleri_Tarih] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_FinansHareketleri_Tarih] ON [dbo].[FinansHareketleri]
(
	[Tarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Kategoriler_KategoriAdi] Betik Tarihi: 22.05.2026 08:47:45 ******/
ALTER TABLE [dbo].[Kategoriler] ADD  CONSTRAINT [UQ_Kategoriler_KategoriAdi] UNIQUE NONCLUSTERED 
(
	[KategoriAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Kullanicilar_Email] Betik Tarihi: 22.05.2026 08:47:45 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanicilar_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Kullanicilar_KullaniciAdi] Betik Tarihi: 22.05.2026 08:47:45 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanicilar_KullaniciAdi] UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_SatisDetaylari_SatisId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_SatisDetaylari_SatisId] ON [dbo].[SatisDetaylari]
(
	[SatisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_SatisDetaylari_UrunId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_SatisDetaylari_UrunId] ON [dbo].[SatisDetaylari]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Satislar_MusteriId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_Satislar_MusteriId] ON [dbo].[Satislar]
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Satislar_PersonelId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_Satislar_PersonelId] ON [dbo].[Satislar]
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Satislar_SatisTarihi] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_Satislar_SatisTarihi] ON [dbo].[Satislar]
(
	[SatisTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_StokHareketleri_UrunId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_StokHareketleri_UrunId] ON [dbo].[StokHareketleri]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Urunler_Barkod] Betik Tarihi: 22.05.2026 08:47:45 ******/
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [UQ_Urunler_Barkod] UNIQUE NONCLUSTERED 
(
	[Barkod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Urunler_KategoriId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_KategoriId] ON [dbo].[Urunler]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Urunler_TedarikciId] Betik Tarihi: 22.05.2026 08:47:45 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_TedarikciId] ON [dbo].[Urunler]
(
	[TedarikciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FinansHareketleri] ADD  CONSTRAINT [DF_FinansHareketleri_Tarih]  DEFAULT (sysdatetime()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_OlusturmaTarihi]  DEFAULT (sysdatetime()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_SadakatPuani]  DEFAULT ((0)) FOR [SadakatPuani]
GO
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_IndirimOrani]  DEFAULT ((0)) FOR [IndirimOrani]
GO
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_ToplamHarcama]  DEFAULT ((0)) FOR [ToplamHarcama]
GO
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_KayitTarihi]  DEFAULT (sysdatetime()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Personeller] ADD  CONSTRAINT [DF_Personeller_PrimOrani]  DEFAULT ((0)) FOR [PrimOrani]
GO
ALTER TABLE [dbo].[Personeller] ADD  CONSTRAINT [DF_Personeller_MesaiSaati]  DEFAULT ((0)) FOR [MesaiSaati]
GO
ALTER TABLE [dbo].[Personeller] ADD  CONSTRAINT [DF_Personeller_IzinGunu]  DEFAULT ((0)) FOR [IzinGunu]
GO
ALTER TABLE [dbo].[Personeller] ADD  CONSTRAINT [DF_Personeller_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Satislar] ADD  CONSTRAINT [DF_Satislar_SatisTarihi]  DEFAULT (sysdatetime()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[Satislar] ADD  CONSTRAINT [DF_Satislar_IndirimTutari]  DEFAULT ((0)) FOR [IndirimTutari]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  CONSTRAINT [DF_StokHareketleri_Tarih]  DEFAULT (sysdatetime()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Tedarikciler] ADD  CONSTRAINT [DF_Tedarikciler_IndirimOrani]  DEFAULT ((0)) FOR [IndirimOrani]
GO
ALTER TABLE [dbo].[Tedarikciler] ADD  CONSTRAINT [DF_Tedarikciler_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_StokMiktari]  DEFAULT ((0)) FOR [StokMiktari]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_MinimumStok]  DEFAULT ((5)) FOR [MinimumStok]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_OlusturmaTarihi]  DEFAULT (sysdatetime()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[FinansHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_FinansHareketleri_Kullanicilar] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[FinansHareketleri] CHECK CONSTRAINT [FK_FinansHareketleri_Kullanicilar]
GO
ALTER TABLE [dbo].[FinansHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_FinansHareketleri_Satislar] FOREIGN KEY([SatisId])
REFERENCES [dbo].[Satislar] ([Id])
GO
ALTER TABLE [dbo].[FinansHareketleri] CHECK CONSTRAINT [FK_FinansHareketleri_Satislar]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SatisDetaylari_Satislar] FOREIGN KEY([SatisId])
REFERENCES [dbo].[Satislar] ([Id])
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [FK_SatisDetaylari_Satislar]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SatisDetaylari_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([Id])
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [FK_SatisDetaylari_Urunler]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [FK_Satislar_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [FK_Satislar_Musteriler]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [FK_Satislar_Personeller] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personeller] ([Id])
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [FK_Satislar_Personeller]
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_StokHareketleri_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([Id])
GO
ALTER TABLE [dbo].[StokHareketleri] CHECK CONSTRAINT [FK_StokHareketleri_Urunler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Tedarikciler] FOREIGN KEY([TedarikciId])
REFERENCES [dbo].[Tedarikciler] ([Id])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Tedarikciler]
GO
ALTER TABLE [dbo].[FinansHareketleri]  WITH CHECK ADD  CONSTRAINT [CK_FinansHareketleri_HareketTipi] CHECK  (([HareketTipi]='Gider' OR [HareketTipi]='Gelir'))
GO
ALTER TABLE [dbo].[FinansHareketleri] CHECK CONSTRAINT [CK_FinansHareketleri_HareketTipi]
GO
ALTER TABLE [dbo].[FinansHareketleri]  WITH CHECK ADD  CONSTRAINT [CK_FinansHareketleri_Tutar] CHECK  (([Tutar]>=(0)))
GO
ALTER TABLE [dbo].[FinansHareketleri] CHECK CONSTRAINT [CK_FinansHareketleri_Tutar]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [CK_Kullanicilar_Rol] CHECK  (([Rol]='Kasiyer' OR [Rol]='Yonetici' OR [Rol]='Admin'))
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [CK_Kullanicilar_Rol]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_IndirimOrani] CHECK  (([IndirimOrani]>=(0) AND [IndirimOrani]<=(100)))
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [CK_Musteriler_IndirimOrani]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_SadakatPuani] CHECK  (([SadakatPuani]>=(0)))
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [CK_Musteriler_SadakatPuani]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_ToplamHarcama] CHECK  (([ToplamHarcama]>=(0)))
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [CK_Musteriler_ToplamHarcama]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [CK_Personeller_IzinGunu] CHECK  (([IzinGunu]>=(0)))
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [CK_Personeller_IzinGunu]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [CK_Personeller_Maas] CHECK  (([Maas]>=(0)))
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [CK_Personeller_Maas]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [CK_Personeller_MesaiSaati] CHECK  (([MesaiSaati]>=(0)))
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [CK_Personeller_MesaiSaati]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [CK_Personeller_PrimOrani] CHECK  (([PrimOrani]>=(0) AND [PrimOrani]<=(100)))
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [CK_Personeller_PrimOrani]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [CK_SatisDetaylari_Adet] CHECK  (([Adet]>(0)))
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [CK_SatisDetaylari_Adet]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [CK_SatisDetaylari_BirimFiyat] CHECK  (([BirimFiyat]>=(0)))
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [CK_SatisDetaylari_BirimFiyat]
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD  CONSTRAINT [CK_SatisDetaylari_ToplamTutar] CHECK  (([ToplamTutar]>=(0)))
GO
ALTER TABLE [dbo].[SatisDetaylari] CHECK CONSTRAINT [CK_SatisDetaylari_ToplamTutar]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [CK_Satislar_IndirimTutari] CHECK  (([IndirimTutari]>=(0)))
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [CK_Satislar_IndirimTutari]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [CK_Satislar_NetTutar] CHECK  (([NetTutar]>=(0)))
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [CK_Satislar_NetTutar]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [CK_Satislar_OdemeTipi] CHECK  (([OdemeTipi]='Havale' OR [OdemeTipi]='BankaKarti' OR [OdemeTipi]='KrediKarti' OR [OdemeTipi]='Nakit'))
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [CK_Satislar_OdemeTipi]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [CK_Satislar_ToplamTutar] CHECK  (([ToplamTutar]>=(0)))
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [CK_Satislar_ToplamTutar]
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD  CONSTRAINT [CK_StokHareketleri_HareketTipi] CHECK  (([HareketTipi]='Duzeltme' OR [HareketTipi]='FireCikis' OR [HareketTipi]='IadeGiris' OR [HareketTipi]='SatisCikis' OR [HareketTipi]='Giris'))
GO
ALTER TABLE [dbo].[StokHareketleri] CHECK CONSTRAINT [CK_StokHareketleri_HareketTipi]
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD  CONSTRAINT [CK_StokHareketleri_Miktar] CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[StokHareketleri] CHECK CONSTRAINT [CK_StokHareketleri_Miktar]
GO
ALTER TABLE [dbo].[Tedarikciler]  WITH CHECK ADD  CONSTRAINT [CK_Tedarikciler_IndirimOrani] CHECK  (([IndirimOrani]>=(0) AND [IndirimOrani]<=(100)))
GO
ALTER TABLE [dbo].[Tedarikciler] CHECK CONSTRAINT [CK_Tedarikciler_IndirimOrani]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_Urunler_AlisFiyati] CHECK  (([AlisFiyati]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_Urunler_AlisFiyati]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_Urunler_MinimumStok] CHECK  (([MinimumStok]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_Urunler_MinimumStok]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_Urunler_SatisFiyati] CHECK  (([SatisFiyati]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_Urunler_SatisFiyati]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_Urunler_StokMiktari] CHECK  (([StokMiktari]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_Urunler_StokMiktari]
GO
USE [master]
GO
